.progress-container {
    display: flex;
    flex-direction: column;
}

.progress-item-name {
    font-size: 0.8rem;
    color: #808080;
}

.progress-bar {
    position: relative;
    height: 10px;
    width: 350px;
    border-radius: 50px;
    /*border: 1px solid #333;*/
    border: 1px solid rgba(102, 204, 153, 0.7);
  }
  
  .filler {
    /*background: #1DA598;*/
    background: rgba(102, 204, 153, 0.7);
    height: 100%;
    border-radius: inherit;
    transition: width .2s ease-in;
  }